In [1]:
## Dictionaris

# onordered collection, key value pair
# created in {}
# key must be unique
# dict are immutable

dict1={"name": "Pankaj", "address":"Pune"}

In [3]:
print (dict1, type(dict1))

{'name': 'Pankaj', 'address': 'Pune'} <class 'dict'>

In [5]:
dict1={"name": ["Pankaj","Amit","Aditi"], "address":["Pune","Hyd","Pune"]}

In [6]:
print (dict1)

{'name': ['Pankaj', 'Amit', 'Aditi'], 'address': ['Pune', 'Hyd', 'Pune']}

In [7]:
dict2={'name':'Pankaj', 'address':'Pune', 'name':'Aditi'}

In [8]:
print (dict2)

{'name': 'Aditi', 'address': 'Pune'}

In [11]:
# accessing dictionary elements
#1st way
dict2['name']

'Aditi'

In [12]:
#2nd way
print (dict2.get('name'))

Aditi

In [13]:
#default values
dict2.get('lastName',"Patil")

'Patil'

In [14]:
# Modifying dict elements

dict2["lastName"]='Patil'

In [15]:
print (dict2)

{'name': 'Aditi', 'address': 'Pune', 'lastName': 'Patil'}

In [16]:
#deleting key and value pair
del dict2['lastName']

In [17]:
print (dict2)

{'name': 'Aditi', 'address': 'Pune'}

In [27]:
# common dict methods

#get all keys
keys1=dict2.keys()
print (keys1)

#get all values
values1=dict2.values()
print (values1)

# get both pair
items=dict2.items()
print (items, type(items))

dict_keys(['name', 'address'])
dict_values(['Aditi', 'Pune'])
dict_items([('name', 'Aditi'), ('address', 'Pune')]) <class 'dict_items'>

In [29]:
#shallow copy - Important

student={'name':'Pankaj','age':42, 'city':'Pune'}
student_copy=student

In [30]:
print (student)
print (student_copy)

{'name': 'Pankaj', 'age': 42, 'city': 'Pune'}
{'name': 'Pankaj', 'age': 42, 'city': 'Pune'}

In [31]:
student['name']='Aditi'

In [32]:
print (student)
print (student_copy)

{'name': 'Aditi', 'age': 42, 'city': 'Pune'}
{'name': 'Aditi', 'age': 42, 'city': 'Pune'}

In [33]:
# so = operator links the twp dictionaries. In order to avoid this, use copy

student_copy1=student.copy()

In [34]:
print (student)
print (student_copy1)

{'name': 'Aditi', 'age': 42, 'city': 'Pune'}
{'name': 'Aditi', 'age': 42, 'city': 'Pune'}

In [35]:
student['name']="Akshara"

In [36]:
print (student)
print (student_copy1)

{'name': 'Akshara', 'age': 42, 'city': 'Pune'}
{'name': 'Aditi', 'age': 42, 'city': 'Pune'}

In [39]:
#iterating over dictionaries
print (student)

student.update({'name':'Pankaj','age':42,'city':'Pune'})

{'name': 'Akshara', 'age': 42, 'city': 'Pune'}

In [42]:
for keys in student.keys():
    print (keys)

for values in student.values():
    print (values)

name
age
city
Pankaj
42
Pune

In [43]:
for key,value in student.items():
    print (f'{key}:{value}')

name:Pankaj
age:42
city:Pune

In [45]:
#nested dictionary
student['address']={'city':'Pune',"flat":'E1101','pin':411027}
print (student)

{'name': 'Pankaj', 'age': 42, 'city': 'Pune', 'address': {'city': 'Pune', 'flat': 'E1101', 'pin': 411027}}

In [47]:
#access nesterd dict elements

student['address']['flat']

'E1101'

In [49]:
#dictionary comprehension

{ x:x**2 for x in range(7)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [50]:
# conditional dict comprehension

{ x:x**2 for x in range(7) if x%2==0}

{0: 0, 2: 4, 4: 16, 6: 36}

In [53]:
# use dict to count the frequency of elements in list

numbers=[1,1,1,2,2,3,4,5,5,5,7]

{x:numbers.count(x) for x in numbers}

{1: 3, 2: 2, 3: 1, 4: 1, 5: 3, 7: 1}